<div class="dock">
  <div class="dock-apps" *ngIf="windowService.windows$ | async as windows">
    <!-- Search / Menu Icon -->
    <div class="dock-icon menu-icon" (click)="windowService.toggleLauncher()">
      <i class="fa-solid fa-grip"></i>
      <span class="dock-label">Apps</span>
    </div>

    <div class="dock-icon" *ngFor="let app of dockApps" [class.active]="isAppOpen(app.id, windows)"
      [class.focused]="isAppFocused(app.id, windows)" (click)="toggleApp(app.id, $event)">
      <div class="icon-indicator" *ngIf="isAppOpen(app.id, windows)"></div>
      <i class="fa-solid {{app.icon}}"></i>
      <span class="dock-label">{{app.title}}</span>
    </div>
  </div>
</div>